* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  ul {
    padding-inline-start: 20px;
    list-style-type: none; 
    padding: 0px 10px;
  }
  
  li { 
    margin-bottom: 10px; 
    display: grid; 
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
  }
                 